@model EmpresaABC.FronEnd.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Crear Usuario</h6>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn bg-capture btn-labeled btn-labeled-right">Crear Usuario<b><i class="icon-add"></i></b></button>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-user position-left"></i> Datos del usuario</legend>
                        </fieldset>
                        <div class="row">

                            <div class="col-md-3">
                                <label>Nombre</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Apellido Paterno</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FirtName, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Apellido Materno</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Genero:</label>
                                    @Html.DropDownList("Gender", null, "Seleccione", new { @class = "select", @name = "Gender", @required = "required", @data_placeholder = "Seleccionar el Genero" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Perfil:</label>
                                    @Html.DropDownList("ProfileId", null, "Seleccione", new { @class = "select", @name = "ProfileId", @required = "required", @data_placeholder = "Seleccionar Perfil" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Correo</label>
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>UserName</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Celular</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageCrumb{
    <li>Usuarios</li>
    <li><a href="@Url.Action("GetUsers","User")">Lista de Usuarios</a></li>
    <li class="active">Crear Usuario</li>
}

@section CustomScripts{
    <script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    @if (Request.Browser.Browser == "IE" || Request.Browser.Browser == "InternetExplorer")
    {
        <script src="~/assets/js/plugins/sweetalert/polyfill.min.js"></script>
        <script src="~/assets/js/plugins/sweetalert/es6-promise.js"></script>
    }
    
    <link href="~/assets/js/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/assets/js/plugins/sweetalert/sweetalert2.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/CreateUser.js"></script>

    <script type="text/javascript">

        // Select2 selects
        $(".select").select2({
            tags: false
        });

        // Simple select without search
        $(".select-simple").select2({
            minimumResultsForSearch: Infinity
        });

        $(".readonly").keydown(function (e) {
            e.preventDefault();
        });

    </script>

}